@model QueensFinal.Model.Competition

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*<input type="button" id="btnSort" value="Sort"/>*@

<style>
    td
    {
        border: 1px solid grey;
    }

    #Grid .mix
    {
        opacity: 0;
        display: none;
    }

    .register-card-container {
        border: 1px solid #c0c0c0;
        padding: 3px;
        margin-bottom: 5px;
    }

    .competitor-name {
        margin: 0;
    }

    .competitor-index-number {
        color: #778899;
        display: inline-block;
        min-width: 2em;
        text-align: right;
    }
    .register-card-container th {
        font-weight: normal;
        text-align: center;
        font-size: 75%;
    }

    .register-card-container td {
        min-width: 1em;
    }
</style>

<div id="Grid">
    @foreach (var registerCard in Model.RegisterCards)
    {
        <div class="mix register-card-container" id="registerCard@(registerCard.Id)" data-pointsoff="0" >
            <h3 class="competitor-name">
                <span class="competitor-index-number">@registerCard.CompetitorIndexNumber</span>
                @registerCard.CompetitorName
            </h3>
            <table>
                <tr>
                    <th></th>
                    <th>S1</th>
                    <th>S2</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                </tr>
                <tr>
                    <td style="text-align: right">x900</td>
                    <td id="registerCard@(registerCard.Id)x900shotS1"></td>
                    <td id="registerCard@(registerCard.Id)x900shotS2"></td>
                    <td id="registerCard@(registerCard.Id)x900shot1"></td>
                    <td id="registerCard@(registerCard.Id)x900shot2"></td>
                    <td id="registerCard@(registerCard.Id)x900shot3"></td>
                    <td id="registerCard@(registerCard.Id)x900shot4"></td>
                    <td id="registerCard@(registerCard.Id)x900shot5"></td>
                    <td id="registerCard@(registerCard.Id)x900shot6"></td>
                    <td id="registerCard@(registerCard.Id)x900shot7"></td>
                    <td id="registerCard@(registerCard.Id)x900shot8"></td>
                    <td id="registerCard@(registerCard.Id)x900shot9"></td>
                    <td id="registerCard@(registerCard.Id)x900shot10"></td>
                    <td id="registerCard@(registerCard.Id)x900shot11"></td>
                    <td id="registerCard@(registerCard.Id)x900shot12"></td>
                    <td id="registerCard@(registerCard.Id)x900shot13"></td>
                    <td id="registerCard@(registerCard.Id)x900shot14"></td>
                    <td id="registerCard@(registerCard.Id)x900shot15"></td>
                    
                    @*<td><input type="text" id="registerCard@(registerCard.Id)PointsOff" value="0"/></td>*@
                </tr>
                <tr>
                    <td style="text-align: right">x1000</td>
                    <td id="registerCard@(registerCard.Id)x1000shotS1"></td>
                    <td id="registerCard@(registerCard.Id)x1000shotS2"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot1"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot2"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot3"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot4"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot5"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot6"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot7"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot8"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot9"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot10"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot11"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot12"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot13"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot14"></td>
                    <td id="registerCard@(registerCard.Id)x1000shot15"></td>
                </tr>
            </table>
            
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/jquery.mixitup.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        function ScoreNameToNumber(score) {
            switch (score) {
                case "Zero":
                    return "0";
                case "One":
                    return "1";
                case "Two":
                    return "2";
                case "Three":
                    return "3";
                case "Four":
                    return "4";
                case "Five":
                    return "5";
                case "V":
                    return "V";
                default:
                    return "";
            }
        }

        function PointsOffFromScore(score) {
            if (score == "V") {
                return 0;
            }
            return 5 - parseInt(score, 10);
        }

        $(function () {
            var hub = $.connection.queensFinalHub;
            hub.client.RegisterShot = function (registerCardId, distance, shotNumber, score) {
                var scoreNumber = ScoreNameToNumber(score);

                var pointsOff = $('#registerCard' + registerCardId + 'PointsOff');
                pointsOff.val(parseInt(pointsOff.val(), 10) + PointsOffFromScore(scoreNumber));

                var pointsOffAttr = $('#registerCard' + registerCardId);
                pointsOffAttr.attr("data-pointsoff", parseInt(pointsOffAttr.attr("data-pointsoff"), 10) + PointsOffFromScore(scoreNumber));

                var cell = $('#registerCard' + registerCardId + distance + 'shot' + shotNumber);
                cell.html(scoreNumber);
                cell.effect("highlight");

                //var position = CalculateNewPosition(registerCardId);

                //MoveToNewPosition(position);

                $('#Grid').mixitup('sort', ['data-pointsoff', 'desc']);
            };
            $.connection.hub.start();

            $('#Grid').mixitup();

            $('#btnSort').click(function() {
                $('#Grid').mixitup('sort', ['data-pointsoff', 'desc']);
            });

        });
    </script>
}
