@model Competition
@using QueensFinal.Model

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.ActionLink("Add Shooter", "AddShooter", new { id = Model.Id})
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<ol data-role="listview">
    @foreach (var registerCard in Model.RegisterCards.OrderBy(rc => rc.SortOrder))
    {
        <li>
            <h2>@registerCard.CompetitorName</h2>
            <p>-@registerCard.TotalPointsOff</p>
        </li>
    }
</ol>