@model QueensFinal.Models.Competitor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Competitor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BroughtForwardPoints)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BroughtForwardPoints)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BroughtForwardVs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BroughtForwardVs)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x900Sighter1Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x900Sighter1Converted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x900Sighter2Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x900Sighter2Converted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x1000Sighter1Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x1000Sighter1Converted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x1000Sighter2Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x1000Sighter2Converted)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
