@model QueensFinal.Models.Competitor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Competitor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BroughtForwardPoints)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BroughtForwardPoints)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BroughtForwardVs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BroughtForwardVs)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x900Sighter1Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x900Sighter1Converted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x900Sighter2Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x900Sighter2Converted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x1000Sighter1Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x1000Sighter1Converted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x1000Sighter2Converted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x1000Sighter2Converted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
